body{
    margin: 0px;
    padding: 0px;
  
}
#header{
    background-color: #336699;
    height:10%;
    position: fixed;
    width: 100%;
    text-align: center;
}
#logo{

    width:40%;
    float: left;
    
}
#logo p{
    color:white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 3%;
   
}

#nav{
    float: left;
    width:60%;
    
}

#nv{
    float:left;
    width:60%;

}
#nav ul li{
    list-style-type:none;
    display: inline-block; 
    padding-left: 2%;
    
  
}

#nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    font-weight: bold;
}

#nav ul li img{
    width:25%;
    border-radius: 50%;
    
  
}
#nav ul li a:hover{
    background-color:rgba(0,0,0,0.5);
    font-weight: bold;
    border-radius: 10%;
    
}
#search{
    float: left;
    margin-top: 4%;
    width:40%;
 
}
#search input{
    width:60%;
}
/*Ending------------------------*/

.post{
    border:0.2px solid silver;
}
.owner{
    text-align: left;
    font-size: 0.7em;
}
.owner img{
    width:10%;
    height:10%;
    border-radius: 50%;
    padding-top: 1%;
    padding-right: 1%;
    
}
.owner a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 130%;
   
}
.owner span{
    padding-right: 2%;
}
.data img{
    width:70%;
    height:50%;
}

.comment ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border:2px solid silver;
    
}

.comment ul li{
   
    display: inline-block;
    width: 120px;
    font-weight: bold;
    background-color: azure;
    text-align: center;
    padding: 1%;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 7%;

}

.comment ul li:hover{
   background-color: royalblue;
   color:white;
}
.comment ul li span{
    color:gray;
}



#side22
{
    float: left;
    width:83%;
    padding-left: 23%;
    margin-top: 4.5%;
}
#chat
{
    width:100%;
    height: 5%;
    margin-top: -3%;
}
#chat:hover
{
    background-color: #e1e2e5;
}

@media only screen and (max-width : 540px)   /* something for the responsive   */
             
            {
                .chat-sidebar   
                {
                    display: none !important;
                }
                
                .chat-popup
                {
                    display: none !important;
                }
            }
            

            
            .chat-sidebar
            {
                width: 15%;
                margin-top: -0.3%;
                position: fixed;
                height: 100%;
                left: 0px;     
                top: 10.3%;
                padding-top: 10px;
                padding-bottom: 10px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .sidebar-name 
            {
                padding-left: 10%;
                margin-top: 5%;
                margin-bottom: 5%;
                font-size: 12px;
                width:100%;
            }
            
            .sidebar-name span
            {
               padding-left: 3%;
            }
            
            .sidebar-name a
            {
                display: block;
                height: 100%;
                text-decoration: none;
                color: inherit;
            }
            
            .sidebar-name:hover
            {
                background-color:silver;
                width:90%;
            }
            
            .sidebar-name img
            {
                width: 32px;
                height: 32px;
                vertical-align:middle;
                border-radius: 50%;
            }
            
            .popup-box
            {
                display: none;
                position: fixed;
                bottom: 0px;
                left: 220px;
                height: 285px;
                background-color: rgb(237, 239, 244);
                width: 300px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .popup-box .popup-head
            {
                background-color: #6d84b4;
                padding: 5px;
                color: white;
                font-weight: bold;
                font-size: 14px;
                clear: both;
            }
            
            .popup-box .popup-head .popup-head-left
            {
                float: left;
            }
            
            .popup-box .popup-head .popup-head-right
            {
                float: right;
                opacity: 0.5;
            }
            
            .popup-box .popup-head .popup-head-right a
            {
                text-decoration: none;
                color: inherit;
            }
            
            .popup-box .popup-messages
            {
                height: 100%;
              /*  margin-top: 53px;*/
                overflow-y: scroll;
            }
            .popup-box .popup-messages .send-box  
            {
                height: 20px;
                width: 80%;
                clear: both;
                padding-bottom: 0px;
               /* padding-left: 0px;
                padding-right: 0px;*/
            }
            .popup-box .popup-messages .send-button
            {
                height: 22px;
                width: 15%;
                margin-top: 183px;
               /* margin-left: 234px;*/

            } 
#mainBar
{
    padding-top: 7%;
    background-color: white;
}    
.bar 
{
    padding-left: 5%;
    border-left: 1px solid black;
}       
#mainn
{
    width:100%;
}       
#side1
{
 width:30%;
 float: left;
 background-color: white;
 text-align: center;
}   
#side2
{
    float: left;
    width:68%;
    margin-left: 2%;
}  
#mainn
{
    margin-top: 2%;
}
#bio
{
    padding:2% ;
   border-bottom: 2px solid silver;
}
#information 
{
    border-bottom: 2px solid silver;
    font-size: 0.8em;
    padding-top: 5%;
    height:130px;
}
#pictures
{
    border-bottom: 2px solid silver;
    height:350px;
    padding-top:2%;
}
.post
{
  background-color: white;
  padding: 1.8%; 
}